<head>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

{%extends "base.html" %}
{%block title %}{{fname}}{% endblock %}
{%block content %}
    <div class="mid">
        <div><img src="./static/media/default.png" width="50" style="vertical-align:middle;">&nbsp;<b>{{fname}}</b>&nbsp;|&nbsp;<a href="/logout">Logout</a></div>
        <h1>Todo List</h1>
        <a href="/add-todo">Add Todo</a>

        <form action="" method="post">
            <table width="100%" cellpadding="5">
                {# Define top bar #}
                <tr>
                    <td width="10%">Complete</td>
                    <td width="70%">Job</td>
                    <td width="15%">&nbsp;</td>
                </tr>

                {# Define rows #}
                {%for row in todo%}
                    <tr>
                        <td>
                            <input type="checkbox" name="complete" value="{{ row.id }}" {% if row.complete %} checked {% endif %}>
                        </td>
                        <td>
                            {{ row.todo_job }}
                        </td>
                        <td>
                            <a href="/edit-todo/{{ row.id }}">Edit</a>&nbsp;|&nbsp;
                            <a href="/delete-todo/{{ row.id }}">Delete</a>
                        </td>
                    </tr>
                {%endfor%}


            </table>

            {# Define submit button #}
            <input type='submit' name="Submit" value="Submit">
            {% csrf_token %}
        </form>


    </div>
{% endblock %}
